/** =================banner====================*/
#banner {
    background-image: url('https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    color: #ffffff !important;
    position: relative;
}

#banner::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

.banner-left,
.banner-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.banner-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.banner-right h1 {
    font-size: 5rem;
}

.banner-right h1 img {
    width: 5rem;
}

.banner-left h1 {
    font-weight: bolder;
}

.buttons .btn {
    padding: 10px 35px;
    margin: 50px 20px 0px 0px !important;
}

.buttons .btn-github {
    background-color: bisque;
    color: #000000 !important;
}