.notfound {
    width: 100%;
    height: 100%;
    background-color: rgb(200, 203, 206);
}

.notfound .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.notfound .content h1 {
    font-size: 15rem;
}
.notfound .content h2 {
    font-size: 5em;
}
