nav {
    background: rgb(11, 13, 15) !important;
    font-family: var(--Oswald);
    letter-spacing: 1px;
}
.navbar-brand {
    font-weight: bolder;
    letter-spacing: 2px;
}

.nav-item .btn {
    margin: 0px 25px;
    padding: 5px 25px !important;
    border-radius: 3px;
}

.btn-login {
    background-color: #fff;
    color: #000000 !important;
}

.btn-register {
    background-color: rgb(233, 159, 0);
    color: #000000 !important;
}